.action-bar {
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: inset -3px 1px 9px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .action-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }